
.btn-ghost {
  background-color: #F5853F;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #fff;
}

