.navbar-lewagon {
  justify-content: space-between;
  background: #b0c74e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 100%;
}

i {
  font-size: 40px;
  color: #fff;
}
